body{
    margin: 0;
    padding: 0;
    background-image: url(images/doviz-kuru.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;

}